<head>
    <!-- Default head tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  
    <!-- Favicon head tag -->


    <link rel="apple-touch-icon" sizes="180x180" href="https://chryzsh.github.io/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://chryzsh.github.io/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://chryzsh.github.io/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="https://chryzsh.github.io/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="https://chryzsh.github.io/assets/favicon/safari-pinned-tab.svg">
    <link rel="shortcut icon" href="https://chryzsh.github.io/assets/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="https://chryzsh.github.io/assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    
    
  </head>